body {
    color: #40514E;
    margin: auto;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 {font-size: 75px;
   margin-top: 0%; 
   margin-right: 0%;
   font-family: 'Sacramento', cursive;
   color: darkgoldenrod;
}
h2 {  
   font-family: 'Montserrat', sans-serif;
   font-size: 2.2rem;
   color: darkgoldenrod;
   font-weight: bold;
   padding-bottom: 10px;

}
h3 {
   font-family: 'Montserrat', sans-serif;
   color: darkgoldenrod;
   font-size: 1.1rem;

} 
p {
    line-height: 2;
}
hr {
    border: dotted gray 6px;
    border-bottom: none;
    width: 6%;
    margin: 100px auto;
}
a {
    color: #40514E;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
    color: #d3d3d3;
}


.top-container {
   background-color: gray;
   padding-top: 150px;
   position:relative;
}

.middle-container {
    margin : 100px 0;
   
}

.bottom-container {
    background-color: gray;
    padding: 50px 0 20px;
   }
   .top-star {
       position: absolute;
       left: 90px;
       border-top: 50px;
       
   }
   .top-star2 {
       position: absolute;
       right:90px;
        border-bottom: 300px;
   }
   .circular {
       border-radius: 90px;
   }
   .skill-row {
       width: 40%;
       margin: 100px auto 100px auto;
       text-align: left;

      
   }
   .cooporate-img {
        width: 35%;
        float: left;
        margin-right: 35px;
      
   }
   .picture-img {
       width: 35%;
       float: bottom;
       margin-inline: 35px;
       
   }
   
   .intro {
       width: 100%;
       margin: auto;
   }
   .cooporate-skill-description {
       clear:left;
   }
   .picture-skill-description {
       clear: right;
   }
   .contact-message {
       width: 40%;
       margin: 40px auto 60px;
   }
   .copyright {
       color: #d3d3d3;
       font-size: 0.75rem;
       padding: 20px 0;
   }
   .btn {
    background: #d3d3d3;
    background-image: -webkit-linear-gradient(top, #808080, #808080);
    background-image: -moz-linear-gradient(top, #808080, #808080);
    background-image: -ms-linear-gradient(top, #808080, #808080);
    background-image: -o-linear-gradient(top, #808080, #808080);
    background-image: linear-gradient(to bottom, #808080, #808080);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: white;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
  }
  
  .btn:hover {
      
    background: #b8860b;
    background-image: -webkit-linear-gradient(top, #b8860b, #11999e);
    background-image: -moz-linear-gradient(top, #b8860b, #11999e);
    background-image: -ms-linear-gradient(top, #b8860b, #11999e);
    background-image: -o-linear-gradient(top, #b8860b, #11999e);
    background-image: linear-gradient(to bottom, #b8860b, #11999e);
     text-decoration: none;
  }
  
  
   
